<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1  class="welcome text-center">SOLUCIONES EMPRESARIALES SA DE CV</h1>
    </div>

    <p>
      <button type="button" class="btn btn-primary"><a routerLink="/login">

        <h2>{{'bienvenido' | translate}}</h2>
      </a></button>
      <button type="button" class="btn btn-info"><a routerLink="/register">
        <h2>{{'registrate' | translate}}</h2>
      </a></button>
      
       </p>

  </div>
  <div class="col-md-12">
    <img src="../../assets/parallax2.jpg" alt="">
  </div>

</div>